.kanban-board-container {
    .kanban-board {
        display: flex;
        gap: 16px;
        justify-content: right;

        .kanban-column {
            min-height: 400px;
            width: 320px;
            display: flex;
            flex-direction: column;
            border-radius: 8px;

            .kanban-column-title {
                font-size: 18px;
                color: #333;
                border-bottom: 3px solid rgb(184, 205, 231);
                margin-bottom: 12px;
                padding-bottom: 8px;
            }

            .kanban-tasks {
                flex-grow: 1;
                min-height: 50px;

                .kanban-task {
                    padding: 16px;
                    margin-bottom: 16px;
                    background-color: #fff;
                    border-radius: 4px;
                    cursor: grab;
                    border: 1px solid #dde1e8;
                    // box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
                    p{
                        margin-bottom: 10px;
                        color: #788494;
                        font-weight: 600;
                    }
                    .title{
                        font-size: 16px;
                        font-weight: 600;
                        color: #1e293b;
                        margin-bottom: 12px;
                    }
                    .info{
                        font-size: 13px;
                        font-weight: 400;
                        color: #788494;
                    }
                    .task-details{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .detail-title{
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                        .detail-info{
                            margin-bottom: 0;
                            padding: 4px 18px;
                            font-size: 13px;
                            font-weight: 500;
                            border-radius: 0px;
                            width: 120px;
                            text-align: center;
                            &.black-bg{
                                // background: #000000bd;
                                background: rgb(59 59 59);
                                color: white;
                                border: 1px solid #000000bd;
                            }
                        }
                    }
                }
            }
        }
    }
    .create-task-modal{
        display: flex;
        justify-content: right;
        margin-bottom: 16px;
    }
}