.abcd{
    overflow-x: auto;
    height: calc(100vh - 130px);

}
.kanban-board-container {
    .kanban-board {
        display: flex;
        gap: 16px;
        .kanban-column {
            min-height: 400px;
            width: 300px;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            .kanban-column-details{
                margin-bottom: 12px;
                border-bottom: 3px solid rgb(184, 205, 231);
                padding-bottom: 8px;
                display: flex;
                justify-content: space-between;
                position: sticky;
                top: 0;
                background: white;
                z-index: 1;
                .kanban-column-title {
                    margin-bottom: 0;
                    font-size: 18px;
                    color: #333;
                }
                .kanban-column-info {
                    margin-bottom: 0;
                    font-size: 12px;
                    color: #333;
                    border: 1px solid #333;
                    padding: 2px 8px;
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                    background: orange;
                    color: white;
                    color: #006b8b;
                    background: #e8faff;
                    border: 1px solid #b3edff;
                }
            }
            .kanban-tasks {
                flex-grow: 1;
                .kanban-task {
                    padding: 16px;
                    margin-bottom: 16px;
                    background-color: #fff;
                    border-radius: 4px;
                    cursor: grab;
                    border: 1px solid #dde1e8;
                    p{
                        margin-bottom: 10px;
                        color: #788494;
                        font-weight: 600;
                    }
                    .title{
                        font-size: 16px;
                        font-weight: 600;
                        color: #1e293b;
                        margin-bottom: 12px;
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .info{
                        font-size: 14px;
                        font-weight: 400;
                        color: #788494;
                        min-height: 40px;
                    }
                    .task-details{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .detail-title{
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                        .detail-info{
                            padding: 6px 8px;
                            font-size: 14px;
                            border-radius: 0px;
                            width: 120px;
                            border-radius: 4px;
                            &.black-bg{
                                background: rgb(59 59 59);
                                color: white;
                                border: 1px solid #000000bd;
                            }
                        }
                        .icon{
                            height: 24px;
                            width: 24px;
                        }
                        &.edit-delete-container{
                            border-top: 1px solid #dde1e8;
                            button{
                                background: white;
                                border: none;
                                padding: 6px 8px;
                            }
                            .delete-btn{
                                color: red;
                                border-color: red;
                                border-bottom: 2px solid red;
                            }
                            .edit-btn{
                                color: #00a5d8;
                                border-color: rgb(0, 0, 0);
                                border-bottom: 2px solid #00a5d8;
                            }
                            .open-btn{
                                color: #1c1d1d;
                                border-color: #1c1d1d;
                                border-bottom: 2px solid #1c1d1d;
                            }
                            .edit-delete-btn{
                                display: flex;
                                width: 120PX;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }
        }
    }
    .create-task-modal{
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    .search-task-box{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 16px;
        margin-right: 22px;
        flex-grow: 1;
        .search-tasks{
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 600px) {
    .abcd{
        overflow-x: auto;
        height: auto;
    
    }
    .kanban-board-container {
        .kanban-board {
            flex-direction: column;
            .kanban-column{
                min-height: auto;
                width: 100%;
            }
        }
    }
}