#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    height: 60px;
    margin-left: 80px;
    border-bottom: 1px solid #e4e8eb;

    .logo {
        font-size: 24px;
        font-weight: 600;
        color: rgb(47 48 50);
        text-decoration: none;
        cursor: pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .nav-links {
        height: 100%;
        display: flex;
        list-style: none;
        align-items: center;
        margin-bottom: 0;
        gap: 16px;

        li {
            font-size: 18px;
            color: rgb(2, 16, 48);
            text-decoration: none;
            cursor: pointer;

            a {
                text-decoration: none;
            }
        }

        .logout-btn {
            height: calc(35px + 12px);
            border-radius: 4px;
            padding: 0px 50px;
        }

    }

    &.welcome-nav {
        margin: 0;
        box-shadow: none;
        .nav-links {
            .nav-btn {
                background: none;
                padding: 10px 16px;
                color: rgb(0, 97, 202);
                color: rgb(48, 54, 61);
                font-weight: 600;
                border: 1px solid transparent;
                text-align: center;
                text-decoration: none;
                margin-bottom: 0;

                &:hover {
                    background: rgb(89, 104, 119);
                    color: rgb(89, 104, 119);
                    border: 1px solid rgb(0, 98, 202);
                    color: rgb(243, 243, 243);
                    background: rgb(61 75 93);
                    border: 1px solid rgba(89, 104, 119, 0.282);
                }
                &.active {
                    border: 1px solid rgba(89, 104, 119, 0.282);
                    border-bottom: none;
                    background: rgb(255, 255, 255);
                    padding: 18px 16px;
                    color: rgb(48, 54, 61);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #navbar {

        .logo{
            font-size: 14px;
        }
        &.welcome-nav{
            .nav-links {
                gap: 0;
                .nav-btn{
                    font-size: 12px;
                    padding: 10px 8px;
                }
            }
        }
    }
}