.add-folder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .new-folder{
        border: none;
        background: none;
        img{

            width: 400px;
        }

    }
}