.projects-page{
    padding: 20px 22px;
    .folder-modal-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .folder-container{
        display: flex;
        gap: 40px;
        margin-top: 20px;
        flex-wrap: wrap;
        &.no-folder{
            height: calc(100vh - 180px);
        }
        .folder-svg{
            width: 322px;
            height: 206px;
            // background: pink;
        }
    }
}