.projects-page{
    padding: 20px 22px;
    .folder-modal-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .folder-container{
        display: flex;
        gap: 40px;
        margin-top: 20px;
        flex-wrap: wrap;
        svg{
            width: 310px;
            height: 205px;
            // background: pink;
        }
    }
}